<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Link Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">

      <!-- Main Content -->
      <div class="col-md-9">
        <h1>Page Test </h1>
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-primary">
              <div class="card-body">
                <h5 class="card-title">Total Utilisateurs</h5>
                <p class="card-text">1000</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-secondary">
              <div class="card-body">
                <h5 class="card-title">Produits</h5>
                <p class="card-text">10,000</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-danger">
              <div class="card-body">
                <h5 class="card-title">Total Familles</h5>
                <p class="card-text">500</p>
              </div>
            </div>
          </div>
          <!-- <p>Vous n'etes pas pret!!!</p> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Link Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
