<div class="container mx-auto p-4"  [ngClass]="{ 'bg-green-100': editable, 'bg-gray-100': !editable }">  <h2 class="text-2xl font-bold mb-4 text-center mt-12 underline">Détails d'un depôt</h2>
  <div class="mb-4 text-center text-gray-700" *ngIf="editable">
    <span class="bg-green-500 w-full text-white">Veuillez saisir les informations à modifier</span>
  </div>
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="updateDepot()">

    <!-- Numéro -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="numero">
        Nom
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="numero" type="text" placeholder="Numéro" [(ngModel)]="depot.nom" name="numero" [disabled]="!editable" required>
    </div>
    <!-- Responsable du dépôt -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="responsableDepot">
        Responsable du dépôt
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="responsableDepot" type="text" placeholder="Responsable du dépôt" [(ngModel)]="depot.responsable_depot" name="responsableDepot" [disabled]="!editable" required>
    </div>
    <!-- Adresse -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="adresse">
        Adresse
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="adresse" type="text" placeholder="Adresse" [(ngModel)]="depot.adresse" name="adresse" [disabled]="!editable" required>
    </div>
    <!-- Complément -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="complement" >
        Complément
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="complement" type="text" placeholder="Complément" [(ngModel)]="depot.complement" name="complement" [disabled]="!editable" required>
    </div>
    <!-- Code postal -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="codePostal">
        Code postal
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="codePostal" type="text" placeholder="Code postal" [(ngModel)]="depot.code_postal" name="codePostal" [disabled]="!editable" required>
    </div>
    <!-- Région -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="region">
        Région
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="region" type="text" placeholder="Région" [(ngModel)]="depot.region" name="region" [disabled]="!editable" required>
    </div>
    <!-- Ville -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="ville">
        Ville
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="ville" type="text" placeholder="Ville" [(ngModel)]="depot.ville" name="ville" [disabled]="!editable" required>
    </div>
    <!-- Pays -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="pays">
        Pays
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="pays" type="text" placeholder="Pays" [(ngModel)]="depot.pays" name="pays" [disabled]="!editable" required>
    </div>
    <!-- Téléphone -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="telephone">
        Téléphone
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="telephone" type="text" placeholder="Téléphone" [(ngModel)]="depot.telephone" name="telephone" [disabled]="!editable" required>
    </div>
    <!-- Email -->
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="email" type="email" placeholder="Email" [(ngModel)]="depot.email" name="email" [disabled]="!editable" required>
    </div>
    <!-- Bouton Ajouter -->
    <div class="flex justify-between">
      <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="toggleEdit()">
      {{ editable ? 'Annuler' : 'Modifier' }}
      </button>
      <button *ngIf="editable" type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Enregistrer
      </button>
    </div>
  </form>
  <div class="mb-4 text-center text-gray-700" *ngIf="editable">
    <span class="bg-green-500 w-full text-white">Veuillez saisir les informations à modifier</span>
  </div>
</div>
