<div class="max-w-md mx-auto mt-12" [ngClass]="{ 'bg-green-100': editable, 'bg-gray-100': !editable }">
  <h2 class="text-2xl font-bold mb-4 text-center mt-12 underline">Détails de la famille</h2>
  <div class="mb-4 text-center text-gray-700" *ngIf="editable">
    <span class="bg-green-500 w-full text-white">Veuillez saisir les champs d'informations à modifier</span>
  </div>
  <form #familleForm="ngForm" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <!-- Code -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="code">
        Code
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="code" type="text" placeholder="Code" [(ngModel)]="famille.code" name="code" [disabled]="!editable" required>
    </div>
    <!-- Intitulé -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="intitule">
        Intitulé
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="intitule" type="text" placeholder="Intitulé" [(ngModel)]="famille.intitule" name="intitule" [disabled]="!editable" required>
    </div>
    <!-- Unité de vente -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="uniteVente">
        Unité de vente
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="uniteVente" type="text" placeholder="Unité de vente" [(ngModel)]="famille.unite_de_vente" name="uniteVente" [disabled]="!editable" required>
    </div>
    <!-- Suivi de stock -->
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="suiviStock">
        Suivi de stock
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="suiviStock" type="text" placeholder="Suivi de stock" [(ngModel)]="famille.suivi_stock" name="suiviStock" [disabled]="!editable" required>
    </div>
    <!-- Bouton Modifier/Ajouter -->
    <div class="flex items-center justify-between">
      <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="toggleEdit()">
      {{ editable ? 'Annuler' : 'Modifier' }}
      </button>
      <button *ngIf="editable" type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" (click)="updateFamille()">
        Enregistrer
      </button>
    </div>
  </form>
</div>
