<div class="container mx-auto p-4" [ngClass]="{ 'bg-green-100': editable, 'bg-gray-100': !editable }">

  <h2 class="text-2xl font-bold mb-4 text-center mt-12 underline">Details du fournisseur</h2>

  <div class="mb-4 text-center text-gray-700" *ngIf="editable">
    <span class="bg-green-500 w-full text-white">Veuillez saisir les champs d'informations à modifier</span>
  </div>
  <form (submit)="updateFournisseur()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

    <!-- Compte tiers -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="compte_tiers">
        Compte tiers
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="compte_tiers" type="text" placeholder="Compte tiers" [(ngModel)]="fournisseur.compte_tiers" name="compte_tiers" disabled required>
    </div>

    <!-- Intitulé -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="intitule">
        Intitulé
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="intitule" type="text" placeholder="Intitulé" [(ngModel)]="fournisseur.intitule" name="intitule" required>
    </div>

    <!-- Adresse -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="adresse">
        Adresse
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="adresse" type="text" placeholder="Adresse" [(ngModel)]="fournisseur.adresse" name="adresse" required>
    </div>

    <!-- Complément -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="complement">
        Complément
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="complement" type="text" placeholder="Complément" [(ngModel)]="fournisseur.complement" name="complement" required>
    </div>

    <!-- Région -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="region">
        Région
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="region" type="text" placeholder="Région" [(ngModel)]="fournisseur.region" name="region" required>
    </div>

    <!-- Ville -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="ville">
        Ville
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="ville" type="text" placeholder="Ville" [(ngModel)]="fournisseur.ville" name="ville" required>
    </div>

    <!-- Pays -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="pays">
        Pays
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="pays" type="text" placeholder="Pays" [(ngModel)]="fournisseur.pays" name="pays" required>
    </div>

    <!-- Téléphone -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="telephone">
        Téléphone
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="telephone" type="text" placeholder="Téléphone" [(ngModel)]="fournisseur.telephone" name="telephone" required>
    </div>

    <!-- Email -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="email" type="email" placeholder="Email" [(ngModel)]="fournisseur.email" name="email" required>
    </div>

    <!-- Code postal -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="code_postal">
        Code postal
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="code_postal" type="text" placeholder="Code postal" [(ngModel)]="fournisseur.code_postal" name="code_postal" required>
    </div>

    <!-- NINEA -->
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="ninea">
        NINEA
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="ninea" type="text" placeholder="NINEA" [(ngModel)]="fournisseur.ninea" name="ninea" required>
    </div>

    <!-- Boutons Modifier et Enregistrer -->
    <div class="flex items-center justify-between">
      <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="toggleEdit()">
        {{ editable ? 'Annuler' : 'Modifier' }}
      </button>
      <button *ngIf="editable" type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
        Enregistrer
      </button>
    </div>
  </form>
</div>
