<h2 class="text-2xl font-bold mb-4 text-center mt-9 underline">Ajout d'articles</h2>
<form>

  <div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-7">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="reference">
        Référence
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="reference" type="text" placeholder="Référence" [(ngModel)]="articleData.reference" name="reference">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="designation">
        Désignation
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="designation" type="text" placeholder="Désignation" [(ngModel)]="articleData.designation" name="designation">
    </div>

    <!-- Ajouter le champ Famille avec ngModel -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="famille">
        Famille
      </label>
      <select
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="famille"
      [(ngModel)]="articleData.famille_id"
      name="famille_id"
      (change)="onFamilleChange()">
      <option value="">--- Choisissez une famille ---</option>
      <option *ngFor="let famille of familles" [value]="famille.id">{{ famille.intitule }}</option>
    </select>
  </div>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="suiviStock">
      Suivi de stock
    </label>
    <select
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="suiviStock"
      [(ngModel)]="articleData.suivi_stock"
      name="suiviStock"
      >
      <option value="CMUP" [selected]="articleData.suivi_stock === 'CMUP'">CMUP</option>
      <option value="FIFO" [selected]="articleData.suivi_stock === 'FIFO'">FIFO</option>
      <option value="LIFO" [selected]="articleData.suivi_stock === 'LIFO'">LIFO</option>
      <option value="SERIALISE" [selected]="articleData.suivi_stock === 'SERIALISE'">SERIALISE</option>
    </select>
    </div>

    <!-- Ajouter le champ Prix Achat avec ngModel -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="prixAchat">
        Prix Achat
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="prixAchat" type="text" placeholder="Prix Achat" [(ngModel)]="articleData.prix_achat" name="prixAchat">
    </div>

    <!-- Ajouter le champ Dernier prix achat avec ngModel -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="dernierPrixAchat">
        Dernier prix achat
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="dernierPrixAchat" type="text" placeholder="Dernier Prix Achat" [(ngModel)]="articleData.dernier_prix_achat" name="dernierPrixAchat">
    </div>

    <!-- Ajouter le champ Unité Achat Vente avec ngModel -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="uniteAchatVente">
        Unité Achat Vente
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="uniteAchatVente" type="text" placeholder="Unité Achat Vente" [(ngModel)]="articleData.unite_achat_vente" name="uniteAchatVente">
    </div>

    <!-- Ajouter le champ Dépôt avec ngModel -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="depot">
        Depot
      </label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="famille" [(ngModel)]="articleData.depot_id" name="depot_id">
        <option value="">--- Choisissez un depot ---</option>
        <option *ngFor="let depot of depots" [value]="depot.id">{{ depot.nom }}</option>
      </select>
    </div>

    <!-- Ajouter le champ Fournisseur avec ngModel -->
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="fournisseur">
        fournisseur
      </label>
      <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="fournisseur" [(ngModel)]="articleData.id_fournisseur" name="id_fournisseur">
        <option value="">--- Choisissez un fournisseur ---</option>
        <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur.id">{{ fournisseur.intitule }}</option>
      </select>
    </div>

    <div class="flex items-center justify-between">
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" (click)="onSubmit()">
        Enregistrer
      </button>

      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="onSubmitQuit()" type="submit">
        Ajouter et quitter
      </button>
    </div>
  </div>
</form>
