<form class="fixed top-0 left-0 w-full h-full flex items-center justify-center" style="background-color: rgba(0, 0, 0, 0.5);">
  <div class="max-w-lg bg-white shadow-md rounded px-10 pt-8 pb-10 mb-4" style="margin-left: 10vw; margin-top: 10vh;">
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="fournisseur">
        Client
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="fournisseur" type="text" placeholder="Fournisseur">
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="intitule">
        Remise
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="intitule" type="text" placeholder="Intitulé">
    </div>


    <div class="flex items-center justify-between gap-3 ">
      <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" (click)="onSubmit()">
        Enregistrer
      </button>

      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="onCancel()">
        Annuler
      </button>
    </div>
  </div>
</form>
